// Main Sass

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

// Components
@import 'parallax';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.95em;
  color: #444;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  &.title {
    font-family: 'Lato', sans-serif;
    font-size: 5em;
    color: #000;
    font-weight: 100;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

  &.heading-sm {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.95em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
}

// Separator
.sep-line-sm {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #007acc;
  border-radius: 10px;
}

.h-100 {
  min-height: 100vh;
}

// Core Values
.boxes {
  margin-bottom: 30px;

  i {
    font-size: 3.5em;
    color: #000;
    margin-bottom: 30px;

    &.fa-heart {
      color: red;
    }
  }
}
